In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/01_input_history.csv')

In [3]:
# Count items to 0
(df['Quantity'] == 0).sum()

np.int64(179441)

In [4]:
df['unique_id'] = df['Country'] + '_' + df['Product']
df.head()

  Country      Product    Month  Quantity          unique_id
0   Japan  MorningMint  Jan2004         0  Japan_MorningMint
1   Japan  MorningMint  Feb2004         0  Japan_MorningMint
2   Japan  MorningMint  Mar2004         0  Japan_MorningMint
3   Japan  MorningMint  Apr2004         0  Japan_MorningMint
4   Japan  MorningMint  May2004         0  Japan_MorningMint

In [5]:
df_grouped = df.groupby('unique_id').agg({'Quantity':'sum'}).reset_index()
df_grouped

                                             unique_id  Quantity
0                          Australia_BreathBliss Mints         0
1                       Australia_BreatheEasy Inhalant         0
2          Australia_BrightBreeze Baby Sunscreen Stick         0
3              Australia_BrightBreeze Insect Repellent     41735
4            Australia_BrightBreeze Period Pain Relief    320914
..                                                 ...       ...
995        United Kingdom_SoothingSoft Fabric Softener         0
996  United Kingdom_SparklingClean All-Purpose Cleaner      6953
997            United Kingdom_SparklingGlow Toothpaste    326688
998        United Kingdom_SparklingSmile Water Flosser     13699
999             United Kingdom_SunShield SPF 50 Lotion    246524

[1000 rows x 2 columns]

In [9]:
from utils.preprocess import preprocess_ex1
all_zeros_data, prev_active_data, curr_active_data = preprocess_ex1(df)
(curr_active_data['Quantity']==0).any()

np.False_